#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}



#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.res-card{
height: 300px;
border-radius: 10px;

}
.res-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.cover img {
  object-fit: cover;
}
.res-header{
  font-size: 18pt;
  font-weight: 500;
}
.res-sub-header{
  font-size: 12pt;
  opacity: 50%;
  
}
.res-text-12{
  font-size: 12pt;
  opacity: 50%;
  font-weight: 400;
  
}
.p-8{
  padding: 8px;
}
.p-5{
  padding: 5px;
}
.image-container {
  position: relative;
}

.rating-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8px;
  padding-top: 8px;

}

.rating-background {
  width: 56px;
  height: 32px; 
  color: white;
  background-color: #B70014; 
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color: white; 
  margin-right: 4px; 
}
