  <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Coming soon...</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="menu-button"></ion-button>
      </ion-buttons>
      <ion-title>Ana Sayfa</ion-title>
      <ion-buttons slot="end">
        <ion-button class="gift-button"></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="cart-button"></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item lines="none" class="box-shadow">
        <ion-searchbar placeholder="Mekan Ara" ></ion-searchbar>
        <div class="ion-searchbar-button-container">
          <ion-button class="button-right filter-button" size="small">
          </ion-button>
        </div>
    </ion-item>
    <p class="montserrat-semibold pl-10 montserrat-bold">Sonuçlar</p>
    <ion-list lines="none">
      <ion-row>    
        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="12" *ngFor="let restoran of restoranlar">
      <ion-item>
              <ion-card class="res-card cover">
                <div *ngIf="restoran.images && restoran.images.length > 0" class="image-container">
                  <img alt="Silhouette of mountains" [src]="restoran.images[0].base64" />
                  <div class="rating-container">
                    <div class="rating-background">
                      <span class="star">★</span>{{restoran.storeInfo.rate}} 
                    </div>
                  </div>
                </div>
                <div *ngIf="!restoran.images || restoran.images.length === 0">
                  <img alt="Silhouette of mountains" src="assets/images/visneli-sarmal.png" />
                </div>
                <ion-card-header>
                  <ion-card-title class= "res-header montserrat-bold">{{restoran.title}}</ion-card-title>
                  <ion-card-subtitle class= "res-sub-header">{{restoran.cartegoryId}}</ion-card-subtitle>
                </ion-card-header>
                <ion-list lines="none">
                  <div class= "res-text-10">
                    <p class="p-style text-right  montserrat-bold"> 
                      Min. Siparis Tutari : ₺{{restoran.storeInfo.minOrderPrice}} 
                    </p>
                  </div>
                  <ion-item>
                    <p class= "res-text-10 montserrat-semibold">
                      {{ calculateDistance(restoran.location.coordinates[0], restoran.location.coordinates[1]) }} km
                    </p>
                    <ion-text slot="end" class= "res-text-10" >
                      <label [ngClass]="{'open' : restoran.storeInfo.status === 'open','close' : restoran.storeInfo.status != 'open'}">
                        {{ restoran.storeInfo.status === 'open' ? 'İşletme Açık' : 'İşletme Kapalı' }}</label>
                      {{restoran.storeInfo.workingHours[0].open}} / {{restoran.storeInfo.workingHours[0].close}}
                    </ion-text>
                  </ion-item>
                </ion-list>
            </ion-card>
         </ion-item>
        </ion-col> 
      </ion-row>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreRestoranlar($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Restoranlar Yükleniyor..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
