#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.res-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.cover img {
  object-fit: cover;
}
.res-header{
  font-size: 16pt;
}
.res-sub-header{
  font-size: 12pt;
  opacity: 50%;  
}

.res-text-10{
  font-size: 10pt;
}
.opacity-50{
  opacity: 50%;
}

.image-container {
  position: relative;
}

.rating-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8px;
  padding-top: 8px;
}

.rating-background {
  width: 56px;
  height: 32px; 
  color: white;
  background-color: #B70014; 
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color: white; 
  margin-right: 4px; 
}
ion-item {
  padding: 0px;
  margin: 0px;
  overflow: visible;
  box-shadow: #0108241A;

}
ion-card {
  max-width: 330px;
  overflow: visible;
  padding: 0px;
  margin: 0px ;
  height: 260px;
  width: 343px;
  border-radius: 10px;

}
ion-card-header{
  padding: 0px;
}

ion-searchbar {
  min-height: 51px;
  box-shadow: 0 1px 64px rgba(0, 0, 0, 0.135); /* Gölge stilini ayarlayın */  
  border-radius: 10px;
  padding: 0px;
  position: relative;
}

.ion-searchbar-button-container {
  position: absolute;
  top: 50%;
  right: 20px; /* İstenilen boşluk miktarına göre ayarlayın */
  transform: translateY(-50%);
}

